<p id="notice"><%= notice %></p>

<h1>Compartments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Shelf</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compartments.each do |compartment| %>
      <tr>
        <td><%= compartment.name %></td>
        <td><%= compartment.number %></td>
        <td><%= compartment.shelf %></td>
        <td><%= compartment.comment %></td>
        <td><%= link_to 'Show', compartment %></td>
        <td><%= link_to 'Edit', edit_compartment_path(compartment) %></td>
        <td><%= link_to 'Destroy', compartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compartment', new_compartment_path %>
